.create-short-form label,
.create-short-form input,
.create-short-form button {
  display: block;
  margin-bottom: 10px;
}

.create-short-form label {
  font-weight: bold;
}

.create-short-form input {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-short-form button {
  background-color: #8a56ac;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
