.top-short-url-container {
  width: 100%;
  table-layout: fixed;
  /* border-collapse: collapse; */
  margin-top: 30px;
  padding: 10px;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-spacing: 0;
  text-align: left;
}
.top-short-url-container th,
.top-short-url-container td {
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.top-short-url-container th {
  background-color: var(--main-app-background-color);
  font-weight: bold;
}

.top-short-url-container .top-short-url-title {
  padding-top: 10px;
  background-color: var(--background-color);
  text-align: left;
}

.top-short-url-container .table-titles {
  outline: 1px solid var(--background-color);
}
.top-short-url-container .data-row {
  outline: 1px solid var(--background-color);
  margin-bottom: -1px;
  background-color: var(--main-app-background-color);
}

.times_clicked {
  width: 15%;
}

.full_urls {
  width: 55%;
}

.short_urls {
  width: 25%;
}