.top-short-url-container {
  text-align: center;
  background-color: var(--main-app-background-color);
}
.top-short-url-container th,
.top-short-url-container td {
  padding: 10px;
}

.top-short-url-container th {
  background-color: var(--main-app-background-color);
  font-weight: bold;
}
