/* Reset default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li,
button {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #524f66;
  --foreground-color: #f2f2f2;
  --header--footer-color: #524f66;
  --main-app-background-color: #736f93;
}
body {
  font-family: "Poppins", sans-serif; /* Change to your preferred font */
  background-color: var(--background-color);
  color: var(--foreground-color);
}

/* Main app container */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--main-app-background-color);
  color: var(--foreground-color);
}

/* Header styles */
.header {
  background-color: var(--header--footer-color);
  color: var(--foreground-color);
  text-align: left;
  text-indent: 5%;
  padding: 0.5em;
  font-size: 24px;
  position: fixed;
  top: 0;
  width: 100vw;
}

/* Container for main content */
.main-short-app {
  max-width: 800px;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.footer {
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--header--footer-color);
  color: var(--foreground-color);
}
.footer a {
  color: var(--foreground-color);
  text-decoration: none;
}

.footer img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  display: inline-block;
  border-radius: 50px;
  margin-left: 8px;
}

/* GitHub icon */
.github-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 8px;
}
