.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.main-short-app {
  display: flex;
  flex-direction: column;
  border: 2px solid lavender;
  padding: 2em; 
}